* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: 1px solid red;
  }
  
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .container {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
  }
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.7rem 0;
    background-color: #fff;
    color: white;
  }


  .logo {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    color: black;
    gap: 5px;
    cursor: pointer;
    z-index: 101;
  }
  .logo-text {
    font-weight: 700;
    font-size: 20px;
  }
  
  .nav-links li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #020e42; 
    bottom: 0;
    left: 0;
    transition: width 0.3s ease-in-out; 
  }
  
  .nav-links li a:hover::after {
    margin-top:20px;
    width: 100%; 
  }
  .logo-img {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .logo-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .nav-links {
    display: flex;
    gap: 23px;
    margin-left: auto;
    align-items: center;
  }
  .nav-li-login {
    display: flex;
    /* gap: 5px; */
    justify-content: center;
    align-items: center;
  }
  
  .nav-links li a {
    font-weight: 500;
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    position: relative;
    transition: color 0.3s ease;
  }
  
  .login-icon {
    width: 23px;
    height: 25px;
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-right: 8px;
    margin-left: 15px;
    cursor: pointer;
  }
  i{
    color: #020e42;
    font-size: 25px;
    cursor: pointer;
    /* margin-right: 10px; */
    padding: 2px 5px;
  }



  /* footer */

  

.footer {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
  background-color: #ced7e0;
  color: black;
}

.footer-logo {
  flex: 1;
  display: flex;
  align-items: center;
  /* margin-top: 30px; */
}

.footer-links {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.footer-links li a {
  color: black;
  text-decoration: none;
}

.footer-contact,
.footer-copy {
  flex: 1;
  display: flex;
  flex-direction: column; 
}

.footer-contact p,
.footer-copy p {
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-img {
  width: 50px;
  height: 50px;
}

.logo-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
}
.logout_div i{
  font-size: 25px;
  color: #020e42;
  cursor: pointer;

}

/* .user_img{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  
}
.user_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
} */



.navbar .hidden-part{
  display: none;
}


.dropdown-content-hidden i{
  font-size: 13px;
  margin-left: 3px;
}