@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: 1px solid red;
  }

.container{
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}



  /* * ################################################## */ 
.section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.contact_div {
  /* background-color: rgb(92, 148, 217); */
  border-radius: 3%;
  max-width: 90%;
  width: 800px;
  height: 480px;
  display: flex;
  box-shadow: 0 8px 15px rgba(1, 0.5, 0.5, 1);
  justify-content: center;
  margin-bottom: 80px;
}

.form_div{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form_div form{ 
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* margin-left: 180px; */
  gap: 20px;
}

.form-name{
  width: 340px;
  height: 50px;
  /* background-color: grey; */
}
.form-name input{
  width: 100%;
  outline: none;
  height: 100%;
  border: hidden;
  border: none;
  border-radius: 4px;
  background-color: #eee;
  font-size: 15px;
  padding-left: 20px;
}

.form-group{
  width: 340px;
  height: 150px;
  border-radius: 4px;
}

.form-group textarea{
  width: 100%;
  padding-top: 20px;
  font-size: 16px;
  outline: none;
  height: 100%;
  resize: none;
  border: none;
  border-radius: 4px;
  background-color: #eee;
  padding-left: 20px;
}

.form_div form button{
  width: 140px;
  height: 50px;
  cursor: pointer;
  border: hidden;
  background-color: rgb(25 42 136);
  font-family: Inter;
  color: white;
  font-size: 14px;
  border-radius: 3px;
}

.form_div form button:hover{
  background-color: white;
  color: rgb(25 42 136);
  border: 1px solid rgb(25 42 136);
  transition: 0.6s;
}



.main_div h3{
  display: flex;
  align-items: center;
  font-size: 33px;
  margin-top: 40px;
  padding: 0 10px;
  
}

.main_div{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

}

.contact_div2{
  margin-bottom: 80px;
  position: absolute;
  background-color: rgb(25 42 136);
  width: 20%;
  height: 55%;
  left: 20%;
  box-shadow: 0 8px 15px rgba(1, 0.5, 0.5, 1); 
  border-radius: 4%;
  display: flex;
  align-items: center;
  gap: 50px;
  /* justify-content: center; */
  flex-direction: column;


}

.texts h2{
  font-size: 34px;
  color: white;
  margin-top: 70px;
  font-weight: bold;
  
}


.info{
  color: white;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 17px;
  
}

.login{
  color: black;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}

.login:hover{
  color: rgb(25 42 136);
}



@media (max-width: 1024px){
  
}

@media (max-width: 768px){
  .main_div h3{
    font-size: 30px;
  }
}

@media (max-width: 480px){
  .main_div h3{
    font-size: 28px;
  }
  .login{
    font-size: 16px;
  }
}

@media (max-width: 376px){
  .main_div h3{
    font-size: 26px;
  }

}