{% extends "base.html" %}
{% load static %}

{% block body %}

    <link rel="stylesheet" href="{% static 'css/contact.css' %}">


    

      <!-- ########################################################### -->
    <div class="container">
           <div class="section">
            <div class="contact_div">
                <div class="main_div">
                    <h3>Bizimlə əlaqə</h3>

                    <div class="form_div">
                        <form action="#" method="post">
                            <div class="form-name">

                                <input placeholder="Adınız..." type="text" id="name" name="name" >
                            </div>
                        
                            <div class="form-group">
                                
                                <textarea placeholder="Mesajınız..." id="message" name="message" rows="5"></textarea>
                            </div>
                            <button type="submit" class="comment-btn">Göndər</button>
                        </form>
                    </div>
                </div>
                
            </div>


       </div>
  </div>
    </div>
{% endblock body %}

    
