{% extends "base.html" %}
{% load static %}

{% block body %}
    <link rel="stylesheet" href="{% static 'register.css' %}">

{% comment %}     
    <div class="container">
        <div class="register_form">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
            
                <button class="reg_btn" type="submit">Qeydiyyatdan keç</button>
                <a href="{% url 'account:login' %}">Eger hesabiniz varsa daxil olun</a>
            </form>
        </div>
    </div> {% endcomment %}



    

<div class="section">
            <div class="contact_div">
                <div class="main_div">
                    <h3>Qeydiyyatdan Keçin</h3>

                    <div class="form_div">
                        <form action="#" method="post">
                            {% csrf_token %}
                            <div class="form-name">

                                <input placeholder="Adınız..." type="text" id="name" name="username" >
                            </div>

                            <div class="form-name">

                                <input placeholder="Şifrəniz..." type="password" id="name" name="password" >
                            </div>

                            <div class="form-name">

                                <input placeholder="Şifrənizi təsdiqləyin..." type="password" id="name" name="confirm" >
                            </div>
                        
                            
                            <button type="submit" class="comment-btn">Qeydiyyatdan keç</button>
                            <a href="{% url 'account:login' %}">Əgər hesabınız varsa daxil olun...</a>
                        </form>
                    </div>
                </div>
                
            </div>

            <div class="contact_div2">
            
                <div class="texts">
                  <h2>Online Lesson</h2>
                </div>

                <div class="info">
                  <p>
                    Qeydiyyatınızı tamamladıqda,<br> təhsilinizi yeni bir səviyyəyə <br> qaldıracaq bir dünyaya qapı <br> açacaqsınız!</p>
                </div>
           
              

               
            </div>

       </div>
  </div>
{% endblock %}



{% comment %} 
    <div class="name_input">
                        <i class="fa-regular fa-user"></i>
                        <input type="text" name="username" placeholder="Full Name">

                    </div> {% endcomment %}




