{% extends "base.html" %}
{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/video_lessons.css' %}">
<link rel="stylesheet" href="{% static 'css/video_lessons-repo.css' %}">

<div class="container">
    <h1>Video Dərslər</h1>
    <div class="video-grid">
        {% for video in videos %}
        <div class="video-card">
            <a href="{{ video.youtube_url }}" target="_blank" class="video-link">
                <div class="video-info">
                    <h2 class="video-title">{{ video.title }}</h2>
                    <p class="video-description">{{ video.description }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
